*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 82%;
	color: #131313;
}

.header {
	padding: 0px 0 97px;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	margin-right: 70px;
}

.menu__list {
	display: flex;
}

.menu__item + .menu__item {
	padding-left: 20px;
}

.menu__link {
	text-transform: uppercase;
	padding: 43px 20px;
	transition: all 0.3s;
}

.menu__link:hover {
	background: #131313;
	color: #FFFFFF;
}



.bike {
	padding: 160px 0 150px;
}

.bike__inner {
	display: flex;
	justify-content: space-between;
}

.bike__column-slider {
	flex-basis: 630px;
	max-width: 630px;
	margin-left: 30px;
}

.bike__title {
	font-weight: 700;
   font-size: 64px;
   line-height: 83%;
	margin: 120px 0 5px;
}

.bike__subtitle {
	font-weight: 400;
   font-size: 32px;
   line-height: 82%;
   color: #6F6F6F;
	margin: 0 0 60px;
}

.bike__text {
	max-width: 420px;
	margin: 0 0 20px;
	line-height: 120%;
}


.bike__link {
	margin-top: 80px;
	display: inline-block;
	background: #131313;
	color: #FFFFFF;
	padding: 28px 81px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	line-height: 83.3%;
	letter-spacing: 1.1em;
	transition: 0.3s ease;
}

.bike__link:hover {
	background: #FF4040;
}

.bike-slider .slick-dots {
	right: 0;
	top: 50px;
}

.slick-dots {
	position: absolute;
}

.slick-dots li + li {
   padding-top: 10px;
}

.slick-dots button {
	font-size: 0;
	padding: 0;
	border: none;
	background: #131313;
	width: 2px;
	height: 25px;
	border-radius: 7px;
	cursor: pointer;
	transition: 0.3s ease;
}

.slick-dots button:hover {
	background: #FF4040;
}

.slick-active button {
	background: #FF4040;
}

.bike__row {
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
}

.bike__row-item {
	text-align: center;
	min-width: 160px;
}

.bike__row-title {
	font-weight: 700;
   font-size: 14px;
   line-height: 82.3%;
   text-transform: uppercase;
}

.bike__row-text {
	font-weight: 400;
   font-size: 12px;
   line-height: 80%;
	text-transform: lowercase;
}


.info {
	padding-bottom: 150px;
}

.info__inner {
	display: flex;
}

.info__img {
	flex-basis: 570px;
	object-fit: cover;
}

.info__list {
	margin-left: 60px;
	flex-basis: 490px;
}

.info__item:not(:last-child) {
	margin-bottom: 60px;
}


.info__item-title {
	font-weight: 700;
   font-size: 16px;
   line-height: 84.2%;
   text-transform: uppercase;
}

.info__item-title:not(:last-child) {
	margin: 0 0 10px;
}

.info__item-text {
	font-weight: 400;
   font-size: 14px;
   line-height: 114%;
	max-width: 450px;
}



.characteristics {
	padding-bottom: 150px;
}

.characteristics__title-title {
	font-weight: 700;
   font-size: 16px;
   line-height: 84.2%;
   text-transform: uppercase;
	margin: 0 0 40px;
}

.characteristics__inner {
	display: flex;
}

.characteristics__items {
	flex-basis: 570px;
}

.characteristics__list + .characteristics__list {
   padding-top: 30px;
}

.characteristics__line {
	display: flex;
	padding-top: 5px;
}

.characteristics__title {
	font-weight: 700;
   line-height: 82.3%;
   text-transform: uppercase;
   color: #FFFFFF;
	background: #131313;
	padding: 2px 0 3px;
	margin-bottom: 10px;
}

.characteristics__name {
	flex-basis: 285px;
	line-height: 120%;
	padding-right: 25px;
}

.characteristics__descr {
	flex-basis: 285px;
	line-height: 120%;
}

.characteristics__img {
	margin-left: 60px;
	align-self: center;
}