*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 82%;
	color: #131313;
}

.header {
	padding: 0px 0 97px;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
}
.logo__img {
}
.menu {
	margin-right: 70px;
}

.menu__list {
	display: flex;
}

.menu__item + .menu__item {
	padding-left: 20px;
}

.menu__link {
	text-transform: uppercase;
	padding: 43px 20px;
	transition: all 0.3s;
}

.menu__link:hover {
	background: #131313;
	color: #FFFFFF;
}